@import '../../../styles/colours.scss';
@media only screen and (max-width: 1001px) {
	.portfolio-section {
		min-width: 0px;
	}
}

.portfolio-section {
	&--header {
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		float: left;
	}
	&--description {
		margin-top: 10px;
		align-items: center;
		text-align: left;
	}
	&--date {
		text-align: left;
	}
	&--chevron {
		height: 50px;
		min-width: 50px;
		cursor: pointer;
	}
}