<div class="portfolio-section">
	<div class="portfolio-section--header">
		<!-- routerLink does not work for external links -->
		<a *ngIf="localLink.length != 0" class="text-link text-link--dark-bkrnd" routerLink="{{localLink}}">
			<div>{{name}}<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
					<path d="M24 12l-12-8v5h-12v6h12v5z" /></svg></div>
		</a>
		<a *ngIf="link.length != 0" target="_blank" class="text-link text-link--dark-bkrnd" href="{{link}}">
			<div>{{name}}<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
					<path d="M24 12l-12-8v5h-12v6h12v5z" /></svg></div>
		</a>
	</div>
	<div class="portfolio-section--date">{{dates}}</div>
	<br>
	<div class="portfolio-section--description">
		<div [innerHTML]="description"></div>
	</div>
</div>