$white-smoke: #F5F5F5;
$text-grey: #868686;
$navy: #0F1626;
$gold: #ffd700;
$lime-green: #70C989;
$darker-lime: #45B664;
$darker-lime-saturated: #37C45E;
$darker-lime-lighter: #71C989;
$nice-dark-blue: #01172D;
$nice-grey-blue: #0D4254;
$parchment: #EBD5B3;