@import "colours.scss";
@import "mixins.scss";
@import "animations.scss";

.page-title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.mobile-navigation {
	position: relative;
	display: flex;
	align-items: center;
	overflow: auto;
	width: 100%;
}

.mobile-header {
	overflow-x: hidden;
	overflow-y: auto;
}

.mobile-header-title {
	margin: 20px 0 20px 0;
	h1, h5 {
		margin: 0;
	}
	h5 {
		float: right;
	}
	float: right;
	margin-right: 5%;
	margin-left: auto;
	justify-content: flex-end;
}

.mobile-dropdown {
	position: relative;
	display: none;
}

@media only screen and (min-width: 701px) {
	.mobile-dropdown {
		display: none !important;
	}
}

.mobile-dropdown-option {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	font-size: 30px;
	border: 1px solid #000000;
	border-radius: 0;
	text-align: center;
	color: $text-grey;
	background-color: $nice-dark-blue;
}

.button {
	background-color: #88BBD6;
	border: 1px solid #000;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

body {
	margin: 0;
	color: $text-grey;
}

ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	position: relative;
	text-align: center;
}

.header-list li {
	display: inline-flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 30px;
	text-decoration: none;
}

@media only screen and (max-width: 1001px) {
	.header-list li {
		font-size: 25px;
	}
}

@media only screen and (max-width: 700px) {
	.header-list li {
		font-size: 20px;
	}
}

.header-link:link {
	color: $text-grey;
}

.header-link:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.header-link {
	text-decoration: none;
	color: $text-grey;
}

.header-link.selected {
	color: #FFFFFF;
}

.about-icon {
	@include svg-icon(about, $text-grey);
}

.projects-icon {
	@include svg-icon(projects, $text-grey);
}

.resume-icon {
	@include svg-icon(resume, $text-grey);
}

.linkedin-icon {
	@include svg-icon(linkedin, $white-smoke);
}

.linkedin-icon:hover {
	animation: wiggle ease 0.5s infinite;
}

.bitbucket-icon {
	@include svg-icon(bitbucket, $white-smoke);
}

.bitbucket-icon:hover {
	animation: wiggle ease 0.5s infinite;
}

.header-icon {
	width: 27px;
	height: 27px;
	margin-right: 8px;
	background-size: contain;
}

.header-link-row {
	display: flex;
	align-items: center;
}

.header-link-row.full:hover>.about-icon {
	@include svg-icon(about, $white-smoke);
	animation: wiggle ease 0.5s infinite;
}

.header-link-row.full:hover>.projects-icon {
	@include svg-icon(projects, $white-smoke);
	animation: wiggle ease 0.5s infinite;
}

.header-link-row.full:hover>.resume-icon {
	@include svg-icon(resume, $white-smoke);
	animation: wiggle ease 0.5s infinite;
}

.header-link.selected .about-icon {
	@include svg-icon(about, $white-smoke);
}

.header-link.selected .projects-icon {
	@include svg-icon(projects, $white-smoke);
}

.header-link.selected .resume-icon {
	@include svg-icon(resume, $white-smoke);
}

.header {
	position: fixed;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	background: $nice-dark-blue;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	margin-bottom: 10px;
	z-index: 3;
}

@media only screen and (max-width: 1001px) {
	.header {
		position: fixed;
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.header {
		position: absolute;
		font-size: 15px;
	}
}

.navbar {
	vertical-align: center;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	animation: slideIn 1s forwards;
}

@media only screen and (max-width: 700px) {
	.header-list {
		display: none;
	}
	.mobile-header {
		display: block;
	}
}

@media only screen and (min-width: 700px) {
	.mobile-header {
		display: none;
	}
}

.dialog {
	margin: 0 auto;
	width: 70%;
	overflow: auto;
	background: $nice-dark-blue;
	position: relative;
	opacity: 100;
	top: 200px;
	margin-bottom: 200px;
	text-align: center;
	font-size: 120%;

	&-text {
		width: 90%;
		margin: 0 auto;
		overflow: auto;
		text-align: center;
	}
}

@media only screen and (max-width: 1001px) {
	.dialog {
		width: 70%;
		margin-bottom: 150px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.dialog {
		width: 90%;
		margin-bottom: 100px;
		font-size: 18px;
	}
}

.uncontained-link {
	color: $gold;
	text-decoration: none;
	display: block;
	margin: 10px 0 10px 0;
}

.uncontained-link:hover {
	color: $white-smoke;
}

@media only screen and (max-width: 700px) {
	.header-link-row:hover>.header-link-image {
		animation: none;
	}
}

.curtain {
	height: 100%;
	width: 100%;
	position: absolute;
	pointer-events: none;
	&--panel {
		border-radius: 0;
		height: 100%;
		float: left;
		z-index: 2;
		position: relative;
		background: $nice-dark-blue;
		&--left {
			-webkit-animation: widthShrink 2s ease forwards;
			animation: widthShrink 2s ease forwards;
			width: 50%;
		}
		&--right {
			-webkit-animation: widthShrink 2s ease forwards;
			animation: widthShrink 2s ease forwards;
			float: right;
			width: 50%;
		}
	}
}

.router-link {
	text-decoration: none;
}

.container {
	margin-left: 5%;
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: $white-smoke;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.arrow {
	fill: $gold;
	height: 18px;
	vertical-align: middle;
	&--left {
		margin-right: 5px;
	}
	&--right {
		margin-left: 5px;
	}

	&--light-bkrnd {
		fill: $gold;
	}
}

.text-link {
	text-decoration: none;
	text-align: left;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&--dark-bkrnd {
		color: $gold;
		&:hover {
			color: $white-smoke;
			.arrow {
				fill: $white-smoke;

				&--right {
					animation: move-right ease 0.5s forwards;
				}
				&--left {
					animation: move-left ease 0.5s forwards;
				}
			}
		}
	}
	&--light-bkrnd {
		color: $gold;
		&:hover {
			color: $white-smoke;
			.arrow {
				fill: $white-smoke;

				&--right {
					animation: move-right ease 0.5s forwards;
				}
				&--left {
					animation: move-left ease 0.5s forwards;
				}
			}
		}
	}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
