@import '../../../styles/colours.scss';
@media only screen and (max-width: 1001px) {
	.resume-section {
		min-width: 0px;
	}
}

.resume-section {
	&--header {
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		float: left;
	}

	&--name {
		text-align: left;
	}

	&--date {
		text-align: left;
	}

	&--bullets {
		margin-top: 10px;
		align-items: center;
		text-align: left;

		&--blue {
			li::before {
				color:#46bddf; 
			}
		}

		&--green {
			li::before {
				color:#50d276;
			}
		}

		&--red {
			li::before {
				color: #e95065;
			}
		}

		li::before {
			content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
	}
}