<div class="resume-item">
	<h3 class="resume-item--header">
		{{resumeItem.name}}
	</h3>
	<div class="resume-item--section" *ngFor="let section of resumeItem.sections">
		<h4 class="resume-section--name" *ngIf="section.name != null">{{section.name}}</h4>
		<div class="resume-section--date" *ngIf="section.startDate != null">{{section.startDate}} - {{section.endDate}}</div>
		<ul class="resume-section--bullets" [ngClass]="'resume-section--bullets--' + resumeItem.bulletColour">
			<li *ngFor="let bullet of section.bullets">{{bullet}}</li>
		</ul>
	</div>
</div>