<div id="create-state-menu" [style.display]="showCreateStateWindow ? 'block' : 'none'" [style.top]="menuPos.y" [style.left]="menuPos.x" class="creation-window">
	<form [formGroup]="createStateForm" (ngSubmit)="createState()">
		<div id="create-state-title" class="create-state-title">{{createStateTitle}}</div>
		<label class="input-area">
			Name:
			<input class="input-box" type="text" formControlName="name" placeholder="State">
		</label>
		<label class="input-area">
			State Symbol:
			<input class="input-box state-symbol" type="text" formControlName="symbol" maxlength="1" placeholder="A">
		</label>
		<label class="input-area checkbox-area">
			Accept State:
			<mat-checkbox formControlName="accept"></mat-checkbox>
			<!-- <input class="input-box-hidden" type="checkbox" formControlName="accept">
			<span class="input-box-styled"></span> -->
		</label>
		<label class="input-area dropdown-area">
			Colour:
			<select class="input-colourpicker" formControlName="colour" [style.background-color]="this.createStateForm.controls['colour']?.value.hex">
				<option class="input-colourpicker-option" [style.background-color]="c.hex" *ngFor="let c of colours" [ngValue]="c"></option>
			</select>
		</label>
		<div class="input-area">
			<button type="button" (click)="hideAllWindows()" class="button">Cancel</button>
			<button type="submit" class="button">{{createStateTitle}}</button>
		</div>
	</form>
</div>
<div id="state-menu" [style.display]="showStateMenu ? 'block' : 'none'" [style.top]="menuPos.y" [style.left]="menuPos.x" class="menu">
	<div *ngIf="!states.has(focusedStateId)" class="state-menu-option" (click)="createStateOption()"><span>Create State</span></div>
	<div *ngIf="states.has(focusedStateId)" class="state-menu-option" (click)="editStateOption()"><span>Edit State</span></div>
	<div *ngIf="states.has(focusedStateId)" class="state-menu-option" (click)="createEdgeOption()"><span>Create Edge</span></div>
	<div *ngIf="states.has(focusedStateId)" class="state-menu-option" (click)="deleteStateOption()"><span>Delete State</span>
	</div>
</div>
<div [style.display]="showDeleteStateOption ? 'block' : 'none'" [style.top]="menuPos.y" [style.left]="menuPos.x" class="menu menu--delete">
	<p>Are you sure you'd like to delete this state?</p>
	<div class="input-area">
		<button class="button" (click)="deleteState()">Yes</button>
		<button class="button" (click)="hideAllWindows()">No</button>
	</div>
</div>
<div [style.display]="showEdgeWarning ? 'block' : 'none'" [style.top]="menuPos.y" [style.left]="menuPos.x" class="menu menu--delete">
	<p>You need at least two states to create an edge</p>
	<div class="input-area">
		<button class="button" (click)="hideAllWindows()">OK</button>
	</div> 
</div>
<div class="flex-wrapper">
	<div class="smc-area">
		<div class="creator-wrapper">
			<div class="info">
				<a class="text-link text-link--light-bkrnd" routerLink="/home">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--left arrow--light-bkrnd" viewBox="0 0 24 24">
							<path transform="scale(-1, 1) translate(-24, 0)" d="M24 12l-12-8v5h-12v6h12v5z" />
						</svg>Home
					</div>
				</a>
				<p>State Machine Creator</p>
				<p>Left click on a square to show menu.<br><br> Left click on created state and select "Create Edge" to create edge between states.</p>
				<button class="button">Export as JSON</button>
			</div>
			<div id="state-area" [className]="anyMenuOpen() ? 'state-area state-area--disabled' : 'state-area'">
				<div class="state-row" *ngFor="let rows of ' '.repeat(50).split(''); let y = index" [attr.data-index]="y">
					<div [style.background-color]="states.has(y + ',' + x) ? states.get(y + ',' + x).colour.hex : null" [className]="focusedStateId === (y + ',' + x) ? 'state-square state-square--focused' : 'state-square'" (click)="toggleMenu($event)" *ngFor="let number of ' '.repeat(50).split(''); let x = index" [attr.data-index]="x" [id]="y+','+x">
						<div *ngIf="states.has(y + ',' + x)" style="height: 100%;pointer-events: none;">
							<div [className]="states.get(y + ',' + x).accept ? 'accept-state' : null" style="display: flex; align-items: center;height: 100%">
								<div class="display-symbol" *ngIf="states.has(y + ',' + x)">{{states.get(y+','+x).symbol}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>