@import "../../../styles/colours.scss";
div {
	margin: 0;
}

body {
	overflow: hidden;
}

.flex-wrapper {
	display: flex;
	justify-content: center;
	padding: 1em 1em 1em 1em;
	overflow: hidden;
}

.creation-window {
	position: absolute;
	width: 300px;
	background-color: #688388;
	border: 2px solid #000;
	color: #000;
	box-shadow: 10px 10px black;
}

.menu {
	background-color: #688388;
	position: absolute;
	border: 1px solid black;
	box-shadow: 10px 10px black;
	.state-menu-option {
		border: 1px solid black;
		padding: 10px 10px 10px 10px;
		span {
			user-select: none;
		}
	}
	.state-menu-option:hover {
		background-color: white;
		color: black;
	}

	&--delete {
		padding: 10px 10px 10px 10px;
	}
}

.create-state-title {
	text-align: center;
	padding: 10px 0 10px 0;
	cursor: move;
}

.input-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.input-box {
	height: 24px;
}

.input-box.state-symbol {
	width: 26px;
	height: 24px;
	text-align: center;
}

.input-box-hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
	margin: 0;
	opacity: 0;
}

.input-box-styled {
	padding: 0px;
	margin-left: 10px;
	height: 23px;
	width: 25px;
	background-color: #FFF;
	border: 2px solid #FFF;
	appearance: textarea;
	-webkit-appearance: textarea;
}

.input-box-styled:hover {
	background-color: #ccc;
}

.input-box-styled:after {
	content: "";
	position: relative;
	display: none;
}

.checkbox-area input:checked~.input-box-styled {
	background-color: #88BBD6;
}

.checkbox-area input:checked~.input-box-styled:after {
	display: block;
}

.checkbox-area .input-box-styled:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.input-colourpicker {
	width: 55px;
	height: 28px;
}

.smc-area {
	margin: 0 auto;
	background-color: #CDCDCD;
	color: #000;
	padding: 15px 15px 15px 15px;
	height: 100%;
	width: 100%;
}

.creator-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #000;
	display: flex;
}

.info {
	width: 20%;
	border: 1px solid #000;
	padding: 10px;
}

.state-area {
	max-width: 80%;
	height: 85vh;
	align-self: center;
	overflow: scroll;
	&--disabled {
		pointer-events: none;
	}
}

.state-row {
	display: inline-flex;
	vertical-align: top;
	width: 100%;
	top: 0;
}

.state-square {
	border: 1px solid #000;
	width: 35px;
	height: 35px;
	padding: 5px 5px 5px 5px;
	flex-shrink: 0;
	&:hover, &--focused {
		border-color: #FF7F27;
	}
}

.accept-state {
	pointer-events: none;
	border: 1px solid #000;
	display: flex;
	align-items: center;
}

.display-symbol {
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	width: 100%;
	font-size: 20px;
	text-align: center;
}

/* Material overrides */
::ng-deep {
	.mat-checkbox-inner-container {
		width: 30px !important;
		height: 30px !important;
	}
}