.card-area {
    display: block;
    font: 400 50px 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
	margin: 0 auto;
    width: 70%;
    height: auto;
    overflow: auto;
    height: auto;
	background: #F8ECC2;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #4CA1AF, #375E6F);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #4CA1AF, #375E6F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:3px solid #000000;
    padding: 25px 25px 25px 25px;
	position: relative;
	opacity: 100;
	top: 150px;
	margin-bottom: 200px;
	text-align:center;
}

.image-left {
    float: left;
    width: 50%;
}

.card-text-right {
    height: 100%;
    float: right;
    padding-top: 25px;
    font-size: 22px;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
}

.robyn-holding-rat {
    height: 600px;
}