<!-- <div class="page-content" (wheel)="onScroll($event)" *ngIf="selectedPage.id >= 0 && !this.routedPage.includes('projects/')"> -->
<div class="page-content" *ngIf="!this.routedPage.includes('projects/')">
	<!-- <div class="background-image" *ngIf="!this.routedPage.includes('projects/')"></div> -->
	<div class="header">
		<div class="navbar">
			<ul class="header-list">
				<li *ngFor="let page of pagesList">
					<a class="header-link" [class.selected]="page === selectedPage || (page === defaultPage && !selectedPage)" (click)="onSelect(page, false)">
						<div class="header-link-row full">
							<div [class]="page.class"></div>
							<a>{{page.name}}</a>
						</div>
					</a>
				</li>
			</ul>
			<div class="mobile-header">
				<div class="mobile-navigation">
					<div class="container" id="hamburger" (click)="hamburgerClick()">
						<!-- svg is split into these three rows, one for each layer of the hamburg -->
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
					</div>
					<div class="mobile-header-title">
						<h1>Erik Hoffman</h1>
						<h5>Software Developer</h5>
					</div>
				</div>
			</div>
		</div>
		<div [style.display]="showDropdown ? 'block' : 'none'" id="mobile-dropdown-main" class="mobile-dropdown">
			<div *ngFor="let page of pagesList">
				<button (click)="onSelect(page, true)" class="mobile-dropdown-option">
					<div class="header-link-row">
						<div [class]="page.class"></div>
						{{page.name}}
					</div>
				</button>
			</div>
		</div>
	</div>
	<div class="centre">
		<div class="dialog-top-nav">
			<div class="about-portfolio-wrapper">
				<a routerLink="../projects/state-machine-creator" class="text-link text-link--dark-bkrnd">
					Current Side Project
					<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
						<path d="M24 12l-12-8v5h-12v6h12v5z" /></svg>
				</a>
			</div>
		</div>
		<div class="dialog">
			<div class="curtain">
				<div class="curtain--panel curtain--panel--left">
				</div>
				<div class="curtain--panel curtain--panel--right">
				</div>
			</div>
			<div class="dialog-text">
				<div #maintext id="main-text" *ngIf="selectedPage.id === 1">
					<h1 class="page-title">About Me</h1>
					Welcome to my website and portfolio.<br><br>
					My name is Erik Hoffman and I'm a software developer who enjoys using code to solve problems and create cool stuff!<br><br>
					See my projects to check out my personal work or view my resume for my professional experience, qualifications and education.
					<br><br>
				</div>

				<div #portfoliotext id="portfolio-text" *ngIf="selectedPage.id === 2">
					<h1 class="page-title">Projects</h1>

					<div class="portfolio-wrapper">
						<div class="portfolio-flex-item" *ngFor="let project of projectsList">
							<app-portfolio-section name={{project.name}} description={{project.description}} dates={{project.dates}} localLink={{project.localLink}} link={{project.link}}>
							</app-portfolio-section>
						</div>
					</div>
				</div>

				<div #resumetext class="resume-text" *ngIf="selectedPage.id === 3">
					<h1 class="page-title">Resume</h1>
					<a class="uncontained-link" target="_blank" href="assets/Erik_CIS_Resume.pdf">Download as PDF</a>

					<div class="resume-wrapper">
						<div class="resume-item" *ngFor="let resumeItem of resumeItems">
							<app-resume-section [resumeItem]="resumeItem">
							</app-resume-section>
						</div>
					</div>
				</div>
			</div>

			<div class="footer">
				<br>
				<a class="text-link text-link--dark-bkrnd" target="_blank" href="https://github.com/ErikHoffman?tab=repositories">
					This website is hosted on github pages
					<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
						<path d="M24 12l-12-8v5h-12v6h12v5z" /></svg>
				</a><br>
				<a class="text-link text-link--dark-bkrnd" target="_blank" href="https://bitbucket.org/ErikHoffman/erik-hoffman-website-angular">
					Check out the unbuilt Angular code!
					<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
						<path d="M24 12l-12-8v5h-12v6h12v5z" /></svg>
				</a>
				<br>Contact Me:<br> Email: erik_hoffman@outlook.com<br>
				<div class="footer--icons-row">
					<a title="Linkedin" href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">
						<div class="footer--icon linkedin-icon"></div>
					</a>
					<a title="Bitbucket" href="https://bitbucket.org/ErikHoffman/profile/repositories?visibility=all">
						<div class="footer--icon bitbucket-icon"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<button class="button go-to-top">^ Back To Top ^</button>
<router-outlet></router-outlet>