@import '../../styles/colours.scss';
.about-portfolio-wrapper {
	position: absolute;
	padding: 20px;
	right: -3px;
	z-index: 1;
}

.go-to-top {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}

.dialog-top-nav {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 141px;
}

@media only screen and (max-width: 700px) {
	.dialog-top-nav {
		width: 90%;
	}
}

.portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.portfolio-flex-item {
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 20px;
		padding: 30px 30px 30px 30px;
		border: 1px solid $white-smoke;
		border-radius: 10px;
		width: 25%;
	}
	@media only screen and (max-width: 1600px) {
		.portfolio-flex-item {
			width: 35%;
		}
	}
	@media only screen and (max-width: 1100px) {
		.portfolio-flex-item {
			width: 100%;
		}
	}
}

.resume-item {
	border: 1px solid $white-smoke;
	border-radius: 10px;
	padding: 30px 30px 30px 30px;
	margin-top: 20px;
}

.footer--link:hover {
	color: $white-smoke;
	.arrow-right {
		fill: $white-smoke;
		animation: move-right ease 0.5s forwards;
	}
}

.footer {
	position: relative;
	overflow: auto;
	background-color: $nice-dark-blue;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	clear: both;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: $text-grey;
	margin-bottom: 100px;
	&--icon {
		margin: 0 5px 0 0;
		width: 45px;
		height: 45px;
	}
	&--icons-row {
		margin: 10px 0 10px 0;
		display: flex;
		justify-content: center;
	}
	.text-link {
		margin: 0 0 20px 0;
	}
}

@media only screen and (max-width: 1001px) {
	.footer {
		font-size: 20px
	}
}

@media only screen and (max-width: 700px) {
	.footer {
		font-size: 15px;
	}
}