<div class="osmosis-container">
	<div class="info" id="info">
		<a class="text-link text-link--dark-bkrnd home-link" routerLink="/projects">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--left" viewBox="0 0 24 24">
					<path transform="scale(-1, 1) translate(-24, 0)" d="M24 12l-12-8v5h-12v6h12v5z" />
				</svg>Home
			</div>
		</a><br>
		<p>
			About: An application that runs this very straightforward but hard to win version of Solitaire known as Osmosis, Treasure Trove or Peek through simulations. 
			There are not really any strategies involved so as of now the simulator
			loops through the available piles looking for cards to place, eliminating human error that results in lost games.
		</p>
		<a class="text-link text-link--dark-bkrnd rules-link" target="_blank" href="https://www.solsuite.com/games/osmosis.htm">
			<div>
				Game Rules
				<svg xmlns="http://www.w3.org/2000/svg" class="arrow arrow--right" viewBox="0 0 24 24">
					<path d="M24 12l-12-8v5h-12v6h12v5z" />
				</svg>
			</div>
		</a><br>

		<div class="play-game">
			<div>Games to play</div>
			<div>
				<select class="ngames-dropdown" [(ngModel)]="selectedValue">
					<option *ngFor="let g of gamesOptions" [ngValue]="g">{{g.name}}</option>
				</select>
			</div>
			<div class="osmosis-buttons">
				<button class="button" [disabled]="gamesRunning" (click)="runGames()">Run </button>
			</div>
		</div>
		<br>
		<div id="gameCounter"><b>Games ran:</b> {{gamesRan}}</div><br>
		<div id="suitCount"><b>Average # of cards placed into suits in losing games:</b> {{averageLosingSuitCount}}</div><br>
		<div><b>Average # of loops through deck in losing games:</b> {{averageLoopsThroughDeck}}</div><br>
		<div id="winPercentage"><b>Win Rate:</b> {{winPercentage}}%</div><br>
		<div id="winloss"><b>Wins:</b> {{wins}}</div><br>
	</div>
	<div class="suits" id="suits">
		<div class="suits-area-sub-wrapper">
			<div *ngIf="gamesRunning" id="loading-area" class="loading-area-cards">
				<p><b>Loading...</b></p>
				<div class="runPercent">{{runPercent}} %</div>
				<svg class="spinner" viewBox="25 25 50 50">
					<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
			<div [hidden]="gamesRunning" style="height:100%">
				Last Winning Suit Set
				<div class="suitTitle">Suit 1</div>
				<div class="suit" id="suitOne"></div>

				<div class="suitTitle">Suit 2</div>
				<div class="suit" id="suitTwo"></div>

				<div class="suitTitle">Suit 3</div>
				<div class="suit" id="suitThree"></div>

				<div class="suitTitle">Suit 4</div>
				<div class="suit" id="suitFour"></div>
			</div>
		</div>
	</div>
</div>