@import "../../../styles/colours.scss";

.home-link {
	margin-top: 0.5em;
	font-size: 18px;
}

.rules-link {
	font-size: 18px;
	display: inline-block;
	margin-bottom: 1em;
}

.osmosis-container {
	margin-top: 1vh;
	height: 95vh;
	display: flex;
	justify-content: center;
}

.play-game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}

.play-game>div {
	margin: 10px;
}

.ngames-dropdown {
	height: 50px;
	width: 150px;
	overflow: hidden;
}

.button {
	background-color: #88BBD6;
	border: 1px solid #000;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.suits {
	background: #0F1626;
	color: #F5F5F5;
	/* fallback for old browsers */
	border: 3px solid #000000;
	width: 45%;
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	overflow-x: hidden;
}

.suits-area-sub-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.suit {
	align-items: center;
	border: 1px solid #000000;
	margin: 0 auto;
	height: 15%;
	display: flex;
	background-color: #000;
}

.suitTitle {
	height: 25px;
	margin-top: 10px;
	text-align: center;
}

.info, .suits {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	width: 45%;
	background: #0F1626;
	border: 3px solid #000000;
	overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
	.info, .suits {
		font-size: 13px;
	}

	.ngames-dropdown {
		font-size: 13px;
		height: 40px;
		width: 120px;
		overflow: hidden;
	}

	.button {
		padding: 11px 15px;
	}
}

@media only screen and (max-width: 700px) {
	.info, .suits {
		font-size: 12px;
	}

	.ngames-dropdown {
		font-size: 12px;
		height: 30px;
		width: 90px;
		overflow: hidden;
	}

	.button {
		padding: 6px 15px;
	}
}

.loading-area-cards {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;

	.spinner {
		height: 200px;
		width: 200px;
		animation: rotate 2s linear infinite;
		transform-origin: center center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

		.path {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			animation: dash 1.5s ease-in-out infinite;
			stroke-linecap: round;
			stroke: $white-smoke;
		}
	}
}